
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    background: url("/static/images/background2.jpg");
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;   
    justify-content: start;
    padding: 20px 5%;
}
nav{
    padding-top: 45px;
    justify-content: center;
}
.navbar a{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}
.navbar a:hover,
.navbar a.active{
    color: #F5AE52;
}
.home{ 
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100%;
    padding: 50px 10% 0;
    margin-bottom: 100px;

}
.home-content{
    flex: 40%;
    margin: 10px;

}
.info-photo{
    flex: 40%;
    width: fit-content;
    position: relative;   
    justify-content: center;
}
.info-photo img{
    width: 90%;
}
h1{
    color: #F5AE52;
    font-size: 4.5rem;
    margin: 20px 0px 20px;
}
h1 span{
    color: #F5AE52;
}
h3{
    margin-bottom: 25px;
    font-size: 1.4rem;
}
h4{
    letter-spacing: 2px;
    font-size: 1.3rem;    
}
h5{
    font-size: 23px;
    margin-bottom: 15px;
}
p span{
    font-size: 1.3rem;
    color: #F5AE52;
} 
p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 45px;
    text-align: start;
}
.about{
    width: 100%;
    background-color: #2d2331;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center; 
    padding: 25px 10% 0;
}
.about-img{
    flex: 40%;
    position: relative;   
    justify-content: center;
    margin: 20px;
}
.about-img img{
    width: 100%;
}
.about-text{
    width: 30%;
    margin:20px ;
    flex:50%;
}
.about-text h2{
    font-size: 4rem;
    text-transform:capitalize ;
    margin-bottom: 20px;
}
.about-text h4{
    letter-spacing:2px ;
    margin-bottom: 25px;
    text-transform:capitalize ;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 45px;
}
h4 span{
    color: #F5AE52;
}
.qualifications{
    background: #2d2331;
    width: 100%;
    padding: 100px 0px;
}
.projects{

    background: #2d2331;
    width: 100%;
    padding: 100px 0px;
}
.title h2{ 
    font-size: 4rem;
    text-align: center;
}
.box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin: 25px;
}
.card{
    flex: 20%;
    height: 590px;
    width: 350px;
    padding: 20px 35px;
    background: #50444f;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#F5AE52 ;
    
}
.card-content p,ul{
    text-align: start;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.project-content {
    padding: 10px; 
}
.card .btn{
    position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 10%;
    border-radius: 20px;
    border: 2px solid transparent;
    font-weight: bold;
    background-color: #F5AE52;
    padding: 13px 30px;
    text-decoration: none;
    color: white;
}
.contact-me{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.social-media {
    position: relative;
    width: 300px;
    background: transparent;
    display:flex;
    justify-content: space-between;
}
.social-media a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid #F5AE52;
    border-radius: 50%;
    background: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #F5AE52;
    overflow: hidden;
    transition: 0.5s;
}
.social-media a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #F5AE52;
    z-index: -1;
    transition: .5s;
}
.social-media a:hover::before{
    width: 100%;
}
.social-media a:hover{
    color:#2d2331;
}
footer{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
@media (max-width: 1100px) {
    .card {
      flex: 40%;
    }

  }
@media (max-width: 800px) {
    .card {
      flex: 70%;
    }
  }




