* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}
.wrapper{
    padding: 2rem 15rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.logo{
    font-size: 1.5rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

a{
    color: black;
    text-decoration: none;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 1rem 3rem;
    align-self: start;
}
.light{
    background-color: rgba(190, 190, 190,0.3);
    color: black;
    padding-left: 1rem;
    

}

.top-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    background-image: url('/static/images/phone-covers.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 80vh;

}
.top-content-header{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center; 
}
.top-content-header h1{
    font-size: 4.5rem;
    width: 80%;
    text-align: center;
    font-weight: 100;
    
}
.top-content-util{
    display: flex;
    flex-direction: row;
    gap:1.5rem ;

}
.buttom-anchor{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:darkgray;
    font-size: 1.3rem;
    gap: 0.5rem;
}
.buttom-anchor span{
    transition: all 0.25s ease-in;

}
.buttom-anchor:hover span{
    transform: translateY(50%);
}
.buttom-anchor:hover {
    color: brown;
}
.buttom-anchor h6{
    font-weight: 100;

}

.play-phrase{
    display: flex;
    flex-direction: row;
    column-gap:1rem ;
    align-items:center ;
}
.play-phrase h6{
    font-weight: 400;
}
.play-phrase span{
    padding: 0.1rem;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.mid-section{
    margin-top: 5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mid-section img{
    width: 400px;
}

.mid-section-content{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    width: 50%;
}
.mid-section-content p{
    color: rgba(190, 190, 190);
 
}



